c_elegans/UP000001940_2-2022.08.06-15.43.58.31.fasta filter=lfs diff=lfs merge=lfs -text
pombe/pombe_clean.fasta filter=lfs diff=lfs merge=lfs -text
s_cerevisiae/UP000002311_2-2022.08.06-15.43.27.56.fasta filter=lfs diff=lfs merge=lfs -text
xenopus/uniprot-download_true_format_fasta_query__28proteome_3AUP000186698_2-2022.08.16-22.11.03.22.fasta filter=lfs diff=lfs merge=lfs -text
zebrafish/zebrafish_clean.fasta filter=lfs diff=lfs merge=lfs -text
arabidopsis/UP000006548_2-2022.08.06-16.37.18.58.fasta filter=lfs diff=lfs merge=lfs -text
ecoli/ecoli_clean.fasta filter=lfs diff=lfs merge=lfs -text
neurospora/UP000001805_2-2022.08.06-17.37.13.25.fasta filter=lfs diff=lfs merge=lfs -text
neurospora/neurospora_clean.fasta filter=lfs diff=lfs merge=lfs -text
s_cerevisiae/s_cerevisiae_clean.fasta filter=lfs diff=lfs merge=lfs -text
zebrafish/UP000000437_2-2022.08.06-15.43.51.16.fasta filter=lfs diff=lfs merge=lfs -text
drosophila/UP000000803_2-2022.08.06-15.43.44.67.fasta filter=lfs diff=lfs merge=lfs -text
human/human_proteome_af2_filtered.fasta filter=lfs diff=lfs merge=lfs -text
mouse/mouse_clean.fasta filter=lfs diff=lfs merge=lfs -text
xenopus/xenopus_clean.fasta filter=lfs diff=lfs merge=lfs -text
c_elegans/c_elegans_clean.fasta filter=lfs diff=lfs merge=lfs -text
dictyostelium/UP000002195_2-2022.08.06-15.44.11.38.fasta filter=lfs diff=lfs merge=lfs -text
dictyostelium/dictyostelium_clean.fasta filter=lfs diff=lfs merge=lfs -text
drosophila/drosophila_clean.fasta filter=lfs diff=lfs merge=lfs -text
ecoli/UP000000625_2-2022.08.06-15.42.28.25.fasta filter=lfs diff=lfs merge=lfs -text
mouse/UP000000589_2-2022.08.06-15.43.34.77.fasta filter=lfs diff=lfs merge=lfs -text
pombe/UP000002485_2-2022.08.06-17.25.43.34.fasta filter=lfs diff=lfs merge=lfs -text
c_elegans/shprd_domains_idrs_c_elegans.tsv filter=lfs diff=lfs merge=lfs -text
dictyostelium/shprd_domains_idrs_dictyostelium.tsv filter=lfs diff=lfs merge=lfs -text
drosophila/shprd_domains_idrs_drosophila.tsv filter=lfs diff=lfs merge=lfs -text
pombe/shprd_domains_idrs_pombe.tsv filter=lfs diff=lfs merge=lfs -text
s_cerevisiae/shprd_domains_idrs_s_cerevisiae.tsv filter=lfs diff=lfs merge=lfs -text
xenopus/shprd_domains_idrs_xenopus.tsv filter=lfs diff=lfs merge=lfs -text
arabidopsis/shprd_domains_idrs_arabidopsis.tsv filter=lfs diff=lfs merge=lfs -text
ecoli/shprd_domains_idrs_ecoli.tsv filter=lfs diff=lfs merge=lfs -text
mouse/shprd_domains_idrs_mouse.tsv filter=lfs diff=lfs merge=lfs -text
neurospora/shprd_domains_idrs_neurospora.tsv filter=lfs diff=lfs merge=lfs -text
zebrafish/shprd_domains_idrs_zebrafish.tsv filter=lfs diff=lfs merge=lfs -text
human/shprd_track_dssp.tsv filter=lfs diff=lfs merge=lfs -text
xenopus/AUP000186698_2-2022.08.16-22.11.03.22.fasta filter=lfs diff=lfs merge=lfs -text
human/shprd_track_metapredict_disorder.tsv filter=lfs diff=lfs merge=lfs -text
human/shprd_protein_attributes_concentrations.tsv filter=lfs diff=lfs merge=lfs -text
human/shprd_tracks_pLDDT_human.tsv filter=lfs diff=lfs merge=lfs -text
human/shprd_domains_ecod_domainmapper.tsv filter=lfs diff=lfs merge=lfs -text
s_cerevisiae/shprd_domains_ecod_domainmapper_s_cerevisiae.tsv filter=lfs diff=lfs merge=lfs -text
